<section id="certificates">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Certificări</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="img/ANCPI_logo_1.jpg" height="128">
            </div>
            <div class="col-md-6 text-center">
                <img src="img/logo9001-14001.jpg" alt="Certificare ISO" height="128" />
            </div>
        </div>
    </div>
</section>