<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Istoric</h2>
                <hr class="light">
                <p class="text-faded">Începând din anul 2002 realizăm lucrări de topografie și cadastru general. Echipa noastră de specialiști împărtășește cu partenerii săi experiență de 30 de ani în domeniul geodeziei și cartografiei. Profesionalismul și orientarea permanentă către nevoile clientului ne-au ajutat să avem succes.</p>
                <a href="#contact" class="btn btn-default btn-xl">Contact</a>
            </div>
        </div>
    </div>
</section>
