<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Servicii</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map wow bounceIn text-primary"></i>
                    <h3>Lucrări de Cadastru, intabulare și înscriere în Cartea Funciară</h3>
                    <p class="text-muted">Executăm lucrări de Cadastru/Intabulare pentru apartamente, terenuri, case-vile, spații comerciale.</p>
                    <!-- <p class="text-muted">Cartea funciară este un registru public care cuprinde evidenţa juridică a imobilelor din aceeaşi localitate. </p> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-building-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Servicii de evaluări</h3>
                    <p class="text-muted">Oferim servicii de evaluare în vederea stabilirii valorii de piață pentru: imobiliare, bunuri mobile, afaceri şi reevaluări mijloace fixe.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-list-alt wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Lucrări speciale</h3>
                    <p class="text-muted">Acest tip de lucrări se solicită în vederea proiectării căilor de comunicație, a determinării configurației unui traseu pe care se vor realiza drumuri, linii electrice, funiculare, etc.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tint wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Proiectări edilitare</h3>
                    <p class="text-muted">Alimentări cu apă, canalizare și stații de epurare</p>
                </div>
            </div>
        </div>
    </div>
</section>
